#root {
  display: flex;
  align-items: start;
  justify-content: center;

  width: 100vw;
  min-height: 100svh;
}

#App {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 100%;
  height: 100svh;

  padding: 1rem;
}
